#snykSecurityReportHead {
  background-color: #f4f5f7;
  border: 1px solid #e3e9ef;
  padding: .5em 1em;
  width: 100%;
}

#snykSecurityReportHead .col {
  text-align: left;
  vertical-align: top;
  width: 35%;
}
