name: Build and Test
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  build-test:
    name: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '1.8'

      - name: Set up GitHub actions user
        uses: fregante/setup-git-user@v1

      - name: Update CLI
        run: |
          ./update-cli.sh

      - name: Build and Test with Maven
        run: |
          ./mvnw clean verify --show-version --batch-mode --errors
